{% extends "guestbook/base.html" %}

{% block content%}

<div class ="container">

<h1>Guestbook</h1>

<div>
{% if user.is_authenticated %}
    Hello {{ user.username }}.
    <a class="button" href="logout">logout</a>
{% else %}
    Please login to post messages.
    <a class="button" href="login">login</a>
{% endif %}
</div>

<div>
{% if message_form %}
<form method='POST'>
    {%csrf_token %}
    {{message_form.non_field_errors}}
    {{message_form.message_text.errors}}
    {{message_form.message_text}}
    <button type='submit'>post message</button>
</form>
{% endif %}
</div>

<div>
{% if messages %}
    {% for message in messages %}
        <div style="margin-top:10px;">
        <div style="background:#EEE;border-radius:10px;padding:10px">
            <div class="row">
                <div style="font-weight:bold;float:left;">{{message.user}}</div>
                <div style="font-style:italic;float:right;">{{message.pub_date}}</div>
            </div>
            <div class="row">{{message.message_text}}</div>
        </div>
        </div>
    {% endfor %}
{% else %}
    There are no messages in the guestbook.
{% endif %}
</div>

{% endblock %}
