{% extends "guestbook/base.html" %}

{% block content %}

<div class ="container" style=>

<h1>Login</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <div><input type="submit" value="login" /></div>
    <input type="hidden" name="next" value="{% url 'index' %}" />
</form>

<a href="{% url 'signup' %}">Register a new user.</a>

</div>

{% endblock %}
