{% extends "guestbook/base.html" %}

{% block content %}

<style type="text/css">
.errorlist { color:red }
</style>

<div class ="container" style=>

<h1>Signup</h1>

<form method="post" action="{% url 'signup' %}">
{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="signup" />
</form>

</div>

{% endblock %}
